<div class="form-group">
    <label for="issueDescInput">Severity</label>
     <select class="form-control" ng-model="$ctrl.handleDataService.issue.severity">
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select> 
  </div>