<div class="form-group">
    <label for="issueDescInput">Assigned To</label>
    <input type="text" class="form-control" ng-model="$ctrl.handleDataService.issue.assignedTo" placeholder="Enter responsible ...">
</div>