<div class="form-group">
    <label for="issueDescInput">Description</label>
    <input type="text" class="form-control" ng-model="$ctrl.handleDataService.issue.description" placeholder="Describe the issue ...">
</div>