<div class="well" ng-repeat="issue in $ctrl.handleDataService.issues">
    {{issue.description}}
    <h6>Issue ID: {{issue.id}}</h6>
    <p>
        <span class="label label-info">{{issue.status}}</span>
    </p>
    <h3>{{issue.description}}</h3>
    <p>
        <span class="glyphicon glyphicon-time">
            <span>{{issue.severity}}</span>
        </span>
        <span class="glyphicon glyphicon-user">
            <span>{{issue.assignedTo}}</span>
        </span>
    </p>
    <close-button ng-click="$ctrl.handleDataService.closeIssue(issue.id)"></close-button>
    <delete-button ng-click="$ctrl.handleDataService.deleteIssue(issue.id)"></delete-button>

</div>